html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Raleway', sans-serif;
	cursor: default;
}

/*html {
  font-size: 70%;
}*/

body {
	overflow-x: hidden;
	background-color: #222;
}

/*modal*/

.hidden {
  opacity: 0;
}

.modalMenu {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: rgba(25, 25, 25, 0.9);
	z-index: 10;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
	transition: 0.2s ease;
}

.modalBg {
	background-image: url("images/grozdjeSmall.jpg");
	width: 24rem;
	background-size: cover;
}

div.modalWrap {
	background-color: #fff;
	max-width: 20rem;
	padding: 5rem 2rem;
	background-color: rgba(255, 255, 255, 0.75);
	background-size: cover;
}

.modalWrap ul {
	list-style: none;
	font-size: 2.5rem;
	font-weight: lighter;
}

.modalWrap li {
	text-transform: uppercase;
	transition: .2s ease;
	opacity: 0.7;
}

.modalWrap li a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

.modalWrap li:hover {
	opacity: 1;

}

.modalWrap li:after {
	margin: 1rem auto;
	width: 2rem;
	content: "";
	display: block;
	border: 1px solid #333;
}

.modalWrap li:last-child:after {
	display: none;
}

.navigation {
    position: absolute;
    z-index: 12;
		left: 50%;
    display: flex;
    flex-wrap: wrap;
		transition: 1.5s ease;
		transform: translateX(-50%);
  }

.navigation ul {
    padding: 0;
  }

.navigation ul li {
  display: inline;
}


.navigation ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 2.375rem;
}

.navigation ul li a:hover{
  border-bottom: 1px solid;
  opacity: 1;
}

.linkSpan{
  color: #fff;
  display: inline-block;
  margin: 0.25rem;
  font-size: 1.375rem;
}

.button {
  width: 3.5rem;
  height: 3.5rem;
  top: 1.75rem;
  right: 1.75rem;
  position: fixed;
  z-index: 11;
  transition: .5s ease;
	padding: 0px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0);
	outline: none;
	border: none;
	cursor: pointer;
}

.button:hover {
	transform-origin: center;
	transform: scale(1.1, 1.1);
}

.button svg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.menuIcon {
	transition: 0.5s ease;
	fill: #EFE4C2;
}

.menuExit {
	fill: #EFE4C2;
	opacity: 0;
	transition: 0.5s ease;
}

.section {
  width: 100vw;
  height: 100vh;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 2rem;
}

.section h1 {
    font-size: 5rem;
    font-weight: 200;
    font-stretch: semi-expanded;
    color: #ffffff;
}

.section h2 {
    font-size: 3rem;
}

.section-wrapper{
    width: 100%;
    max-width: 50rem;
    padding: 1rem 5rem;
		transition: 1s;
}

.landing .section-wrapper:first-child {
	z-index: 6;
}

.section-wrapper.fadeInvisible {
	opacity: 0;
	transform: translateY(100px);
}

.landing {
	width: 100vw;
  height: 100vh;
  position: relative;
  text-align: center;
	background-color: #222;
	display: flex;
	align-items: center;
  justify-content: center;
  font-size: 2rem;
	transition: opacity 1.5s ease;
}

.landing .section-wrapper {
  z-index: 2;
  margin: auto;
}

/*.mainHeader {
	font-size: 5rem;
	position: relative;
	color: #fff;
	transition: 1s ease;
	text-transform: full-width;
}*/

.landingPic {
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	background-size: cover;
	background-position: center;
	transition: 1.5s ease;
}

.landingPic1 {
	background-image: url("images/landingMain.jpg");
	z-index: 5;
}

.landingPic2 {
	background-image: url("images/lp1.jpg");
	z-index: 4;
}

.landingPic3 {
	background-image: url("images/lp2.jpg");
	z-index: 3;
}

.landingPic4 {
	background-image: #aaa;
	z-index: 2;
}

.landingPic5 {
	background-image: #ccc;
	z-index: 1;
}

.landingInvisible {
	opacity: 0;
}

.invisible {
	opacity: 0;
	transform: translateY(5%);
	z-index: -10;
}

.invisibleBg {
	transform: none;
}

.slideshowContain {
	transition: opacity 1.5s ease;
	filter: sepia(0.8) brightness(0.5);
}

.landing h1 {
	font-size: 5.5rem;
	font-weight: bolder;
	color: #EFE4C2;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 1);
	font-family: 'Amatic SC', cursive;
	transition: opacity 1.5s ease;
	letter-spacing: 0.4rem;
}

.naslovDukat {
	transition: opacity 1.5s ease;
	width: 50vh;
	height: 60vh;
	/*box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.3);*/
	border-radius: 50%;
	z-index: 10;
}


.logoHead.lineUnder:after {
		margin: 0 auto;
		width: 15%;
		content: "";
		display: block;
		border: 1px solid #EFE4C2;
}

.sectionKontakt {
  background-color: #d7dcad;
  background-image: url('images/appleArt.png');
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 50vw;
	color: #634545;
}

.textLrg p {
  text-align: center;
  font-size: 3.5rem;
	font-weight: 300;
  margin: 2.5rem 0;
}

.whiteBg {
	background-color: rgba(0,0,0,0.3);
	opacity: 1;
  padding: 0;
	color: #EFE4C2;
	box-shadow: 0 0 250px 250px rgba(0, 0, 0, 0.3);
	text-shadow: 0 0 5px rgba(0, 0, 0, 1);
	border-radius: 50%;
	z-index: 1;
}

.lineUnder:after {
	margin: 2rem auto 0;
	width: 15%;
	content: "";
	display: block;
	border: 0.0625rem solid #634545;
}

.whiteBg .lineUnder:after {
	border: 0.0625rem solid #EFE4C2;
}

.sectionKontakt p:last-child {
  margin: 0;
}

.sectionOnama {
  color: #333;
	box-shadow: inset 0 0 10px 10px rgba(0, 0, 0, 0.3);
	z-index: 0;
	overflow: hidden;
}

.oNamaBg {
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url("images/kofi.jpg");
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

.sectionPic1 {
	z-index: 0;
	height: 80vh;
	background-color: #803e3e;
}

.sectionPic1 p {
	color: #EFE4C2;
}

.chefHatBg {
	position: absolute;
	width: 10rem;
	height: 10rem;
	background-image: url("images/chefHat.png");
	background-repeat: no-repeat;
	background-size: contain;
	transform: translateY(-10rem);
	filter: sepia(1);
}

.sectionJelovnik {
  background-color: #803e3e;
	width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
	/*margin-bottom: 400px;*/
}

.sectionJelovnik h1 {
	color: #222;
}

 .sectionMeni {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500rem;
  max-height: 500rem;
  background: #acbb8a;
}

.jelovnikWrap {
	background-color: #EFE4C2;
	padding: 0;
	max-width: 67.5rem;
  position: relative;
  margin: 0 0 9rem;
}

.jelovnikWrap h1, .jelovnikWrap h2, .jelovnikWrap p {
  transform:scale(1,1.2);
  -webkit-transform:scale(1,1.2);
	font-weight: lighter;
	color: #634545;
}

.jelovnikWrap h2, .jelovnikWrap p {
  text-align: left;
	padding-left: 15.5rem;
	transform:scale(1,1);
	-webkit-transform:scale(1,1);
}

.jelovnikWrap h1 {
	font-size: 4.5rem;
	margin: 7.5rem 0;
}

.jelovnikWrap p {
	line-height: 2.4rem;
	margin-bottom: 3rem;
}

.prilog {
	font-size: 1.7rem;
	margin-bottom: 1.2rem;
	display: inline-block;
}

.line {
	content: "";
	display: block;
	border-top: 0.0625rem solid #c1ba81;
	position: relative;
	top: -0.5rem;
	margin-bottom: 2rem;
}

.sectionMeni-wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 70%;
  max-width: 80rem;
  height: 98%;
  max-height: 2500rem;
  min-width: 5rem;
  background: #fff;
}

.spanMenu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 6.8rem;
  width: 7.2rem;
  height: 100%;
  background-image: url(images/lineMain.jpg);
  background-repeat: repeat-y;
  z-index: 1;
	box-shadow: inset 0 0 17px 0.0625rem rgba(0, 0, 0, 0.2);
}

.sectionFooter {
  background-image: url("images/viski.jpg");
  background-size: cover;
	background-position: 0 90%;
	height: 27rem;
	z-index: -20;
}

.kontaktGroup {
	text-align: left;
	max-width: 67.5rem;
	margin: 0 auto;
}

.kontaktGroup a {
	display: inline-block;
	margin: 5rem auto 1rem;
}

.kontaktGroup h3 {
	font-size: 3rem;
	margin: 1rem auto;
	color: #EFE4C2;
}

.kontaktGroup img {
	width: 5rem;
	height: 5rem;
	cursor: pointer;
}

/*responsive*/

@media screen and (max-width: 1200px) and (min-width: 1001px) {
	html {
		font-size: 80%;
	}
}

@media screen and (max-width: 1000px) and (min-width: 771px) {
	html {
		font-size: 70%;
	}
}

@media screen and (max-width: 770px) and (min-width: 401px) {
	html {
		font-size: 60%;
	}

	.kontaktGroup {
		max-width: 40rem;
	}

	.jelovnikWrap {
		max-width: none;
	}

	.button {
		height: 5rem;
		width: 5rem;
	}
}

@media screen and (max-width: 400px) and (min-width: 0px) {
	html {
		font-size: 40%;
	}

	.prilog {
		font-size: 2.8rem;
	}

	.jelovnikWrap h2 {
		font-size: 3.2rem;
	}

	.jelovnikWrap p {
		font-size: 3.0rem;
		line-height: 3.2rem;
		padding-left: 8rem;
	}

	.jelovnikWrap {
		max-width: auto;
	}

	.spanMenu {
		right: none;
		left: 0;
	}

	div.modalBg {
		width: 80%;
	}

	div.modalWrap {
		max-width: none;
		width: auto;
	}

	.sectionPic1 p {
		font-size: 3rem;
	}

	.chefHatBg {
		transform: translateY(-15rem);
	}

	.kontaktGroup {
		max-width: 40rem;
	}

	.kontaktGroup h3 {
		text-shadow: 0 0 5px rgba(0, 0, 0, 1);
	}

	.button {
		height: 5rem;
		width: 5rem;
	}
}
